#change_rowwidth{
	width: 90%
}
.diary_content{
	font-size: 1.1em;
	line-height: 2;
	width: 85%;
	margin: 10px auto;
}
.diary_content p:first-of-type:first-letter{
	font-weight: bold;
	font-size:2em; 
}

#diary_content{
	height: 500px;
}
.diary-date,.diary-date-line{
margin: 10px auto;display:flex;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex; justify-content: space-around;align-items: center;
}
.diary-date{
	width: 54%;
}
.diary-date-line{
	width: 65%;
	justify-content: space-between;
}
.line-point{
	width: 120px;
	display: inline-block;
	border-bottom: 1px dashed
}
.line-item{
	display: inline-block;
}
.line-bigPoint{
	display: inline-block;
	width: 0;
	height: 0;
	border:5px solid;
	border-radius: 50%;
	vertical-align: bottom;
}
.date-item{
	font-size: 1.5em;
	font-family: cursive;
	color: #337ab7;
	
}
.date-item:hover{
	cursor: pointer;
	text-shadow:1px 1px 2px #337ab7;
}

#modal_load{
	z-index: 1050;
	position: fixed;
	top: 20%;
	left: 45%;
	text-align:center;
	font-size: 2em;
	display: none;
}

.blur{
    -webkit-filter: blur(4px);
    filter: blur(10px);
}