.mod-header{background:white;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f3f4f5));box-shadow:0 4px 4px rgba(0,0,0,.2)}
#wrapper{background-color:#fff;width:90%;margin:0 auto;height:100%}
img{max-width:100%;max-height:100%}
footer{width: 60%;max-width: 760px; margin: 10px auto;text-align: center;font-size: 13px;line-height: 34px;}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#f5f5f5;border-radius:10px}
body::-webkit-scrollbar{width:10px;background-color:#f5f5f5}
body::-webkit-scrollbar-thumb{border-radius:10px;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.44,#a0a0a0),color-stop(0.72,#aaa),color-stop(0.86,#b4b4b4))}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:1170px}}
footer{width: 60%;max-width: 760px; margin: 10px auto;text-align: center;font-size: 13px;line-height: 34px;}
.website-record{color: black;}
#article_items_contianer{width: 85%;margin: 0 auto}
.pagination>li {
    display: inline;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination{margin: 10px auto;display:flex;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex; }

.github-pages{width:30px;height:30px;display:inline-block;vertical-align: middle;}
.fa-github-square{font-size: 2em;color: black;}
.backToTop{display:none;width:48px;position:fixed;_position:absolute;right:10px;bottom:100px;_bottom:"auto";cursor:pointer;opacity:.6;filter:Alpha(opacity=60)}
#change_rowwidth{
	width: 90%
}
.diary_content{
	font-size: 1.1em;
	line-height: 2;
	width: 85%;
	margin: 10px auto;
}
.diary_content p:first-of-type:first-letter{
	font-weight: bold;
	font-size:2em; 
}

#diary_content{
	height: 500px;
}
.diary-date,.diary-date-line{
margin: 10px auto;display:flex;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex; justify-content: space-around;align-items: center;
}
.diary-date{
	width: 54%;
}
.diary-date-line{
	width: 65%;
	justify-content: space-between;
}
.line-point{
	width: 120px;
	display: inline-block;
	border-bottom: 1px dashed
}
.line-item{
	display: inline-block;
}
.line-bigPoint{
	display: inline-block;
	width: 0;
	height: 0;
	border:5px solid;
	border-radius: 50%;
	vertical-align: bottom;
}
.date-item{
	font-size: 1.5em;
	font-family: cursive;
	color: #337ab7;
	
}
.date-item:hover{
	cursor: pointer;
	text-shadow:1px 1px 2px #337ab7;
}

#modal_load{
	z-index: 1050;
	position: fixed;
	top: 20%;
	left: 45%;
	text-align:center;
	font-size: 2em;
	display: none;
}

.blur{
    -webkit-filter: blur(4px);
    filter: blur(10px);
}