/*-------------------------head---------------------------------*/
header{
	height:195px;
	width: 100%;
	padding-bottom: 50px;
	display:flex;
	justify-content:space-between;
	align-items:center;

}
#headout{
            height:160px;
            width: 15%;
            overflow:hidden;
            margin: 35px 10px 10px 75px;
            padding:30px 10px 10px 10px;
            display: inline-block;

}
#headtextparent{ width:45% }
#headtext{
	display: inline-block;
	font:normal normal 1.4em/35px STXingkai;
	
	margin-top:100px
}