body{font-family:microsoft yahei;min-width: 367px;background: #eee;margin: 0}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#f5f5f5;border-radius:10px}
body::-webkit-scrollbar{width:10px;background-color:#f5f5f5}
body::-webkit-scrollbar-thumb{border-radius:10px;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.44,#a0a0a0),color-stop(0.72,#aaa),color-stop(0.86,#b4b4b4))}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{max-width:100%;max-height:100%}
#wrapper{background-color:#fff;width:90%;margin:0 auto;height:100%}
#headout{text-align: center;}
#headout img{border-radius:5px;-webkit-border-radius:4px;-moz-border-radius:4px; width: 9%}
header{
	width: 100%;
	padding-top: 50px;
}
#headtextparent{margin: 20px auto}
#headtext{
	cursor: pointer;
	display: block;
	width: 390px;
	font:normal normal 1.3em/35px STXingkai;
}

.nav-ul-list{
	font-size:1.2em;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
}

ul{list-style-type:none}
ul li{
    line-height: 40px;
    height: 40px;
    cursor: pointer;
}
li:hover{color:#A09D9D}

.parentimg{width:52%;display:flex;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;align-items:center;overflow:hidden;flex-wrap:nowrap;margin:30px auto}
.photoimg{height:100%;cursor:pointer}
.img{flex:1;transition:1s all;-moz-transition:1s all;-webkit-transition:1s all}
.img:hover{flex:1.3;max-width:255px}
a.more{text-decoration:none}

footer{width: 90%;padding: 20px 0;max-width: 760px; margin: 0 auto;text-align: center;font-size: 14px;line-height: 34px;}
.website-record{color: black;}
.github-pages{width:30px;height:30px;display:inline-block;vertical-align:middle;}
.fa-github-square{font-size: 2em;color: black;}
.h1-readme{width: 60%;display:inline-block;margin: 0px auto}
.piano-text{animation:7s opacity_pic 0s infinite;-webkit-animation:7s opacity_pic 0s infinite;-moz-animation:7s opacity_pic 0s infinite}

@keyframes opacity_pic{0%{opacity:0}25%{opacity:.4}50%{opacity:.8}75%{opacity:.4}100%{opacity:0}}
@-webkit-keyframes opacity_pic{0%{opacity:0}25%{opacity:.4}50%{opacity:.8}75%{opacity:.4}100%{opacity:0}}
@-moz-keyframes opacity_pic{0%{opacity:0}25%{opacity:.4}50%{opacity:.8}75%{opacity:.4}100%{opacity:0}}
.piano-items-contianer{width: 80%;margin: 30px auto}
.piano-items{margin-bottom: 15px;color: #7C7C7C}
.piano-items .item-child{display: flex;justify-content: center;}
.piano-content-img{margin: 10px auto}.show-hide-piano{cursor: pointer;}
#pianoBtn{vertical-align: middle;cursor: pointer;}
#pianoList{display: none;}.piano-text{font-size: 1.3em}#piano-back{cursor: pointer;margin: 10px auto;display: block;}
.piano-container{margin: 20px auto;text-align: center;vertical-align: middle;cursor: pointer;}
#piano-back{font-size: 2em;text-align: center;}