
/*-------------------------head---------------------------------*/
#headout img{width: 12%}
.nav-ul-list{
	font-size:1.1em;
}
.piano-container{
	width: 30%
}
#headtextparent{text-align: center;}
#headtext{display: inline;}