
/*-------------------------head---------------------------------*/
header{
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	padding: 0
}
#headout{
    margin: 20px auto;
}
#headtextparent{ width:360px;display:block}
#headtext{
	display: inline-block;
	font:normal normal 1em/35px STXingkai;
}

