/*-------------------------head---------------------------------*/
header{
	width: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
	display:flex;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;
	justify-content:center;
	align-items:center;
}
#headout{
    width: 15%;
}
#headtextparent{ width:45% }
#headtext{
	display: inline-block;
	font:normal normal 1.3em/35px STXingkai;
}
.nav-hr{width:95px;}
.row{
	display: flex;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;
    justify-content: space-between;
    align-items: center;
    
}
.col-md-4{
	width: 30%
}
.nav-aboutme{width:25%;height:100px;display:flex;display:box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;align-items:center;justify-content:center;cursor: pointer;}

.nav-ul-list{
	font-size:1.2em;
	margin: 0;
	margin-left: 35px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}
