#lang-panel{position:absolute;right:20px;top:20px;border-radius:5px;z-index:100;font-size:.8em}
a{text-decoration:none;transition:.5s;color:#0074d9}
.page{
	top: 0;
	left: 0;
	width: 100%;
	min-height: 99%;
	position: absolute;
	display: none;
	border: 0;
    background: url(/img/cv_img/cv_bg.png) 50% repeat;
}
.active{
	display: block;
	overflow: visible;
	overflow-x: hidden;
}
.nav-switch{
	position: fixed;
	top: 45%;
	right: 20px;
	z-index: 100;
}
.nav-switch li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #000;
	list-style: none;
	text-align: center;
	margin-bottom: 5px;
	cursor: pointer;
}
.current{
   background-color: #aaa;
}
#headpic{width:140px;height:130px;max-width:100%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%}
#work_chinatelecom,#work_chinavec,#work_siemens,#work_vinci,#work_me,#work_chinatelecom_intern{-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%}
#section1 .child-div,#section2 .child-div #section4 .child-div{
	text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
}    
#section3 .child-div{
	text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}
#section1 div p{
	margin-bottom: 15px;
}
p img{vertical-align:middle}
#edu_h1,#work_h1,#honor_h1{font-size:3em}
#skill_h1{font-size: 2em}
.outer-container{display: flex;flex-direction: column;align-items: flex-start}
.edu-content{display: flex;justify-content: center;}
.cuc-inner,.buu-inner{display: flex;align-items: center;line-height: 6.5;}
.time-line{display: flex; flex-direction: column;align-items: center;}
.time-inner-line{width: 10px;height: 10px;border-radius: 50%;background: #0074d9; margin: 2px;}
.number{height: 60px;width: 0px;border: 1px solid #0074d9;}

.work_container{margin:0 auto}
.work_title{color:#aaa}
.timedur{margin-right: 10px;} 
.work_flexdiv{margin-bottom: 50px}  
.hobby_flex{margin: 20px}
.hobby_flex img{width: 12%}
.skill_flex img{width: 10%}
.skillcontainer_flex{display:flex;flex-direction:column;display:-ms-flex;display:-webkit-flex;display:-moz-flex;justify-content:space-between;align-items:center;width:85%;margin:0 auto}
.hobby_flex,.skill_flex{display:flex;display:-ms-flex;display:-webkit-flex;display:-moz-flex;justify-content:space-around;align-items:center;width:100%}
.img_one{animation:7s opacity_pic 0s infinite;-webkit-animation:7s opacity_pic 0s infinite;-moz-animation:7s opacity_pic 0s infinite}
.img_two{animation:7s opacity_pic 2s infinite;-webkit-animation:7s opacity_pic 2s infinite;-moz-animation:7s opacity_pic 2s infinite}
.img_three{animation:7s opacity_pic 4s infinite;-webkit-animation:7s opacity_pic 4s infinite;-moz-animation:7s opacity_pic 4s infinite}
@keyframes opacity_pic{0%{opacity:0}25%{opacity:.4}50%{opacity:.8}75%{opacity:.4}100%{opacity:0}}
@-webkit-keyframes opacity_pic{0%{opacity:0}25%{opacity:.4}50%{opacity:.8}75%{opacity:.4}100%{opacity:0}}
@-moz-keyframes opacity_pic{0%{opacity:0}25%{opacity:.4}50%{opacity:.8}75%{opacity:.4}100%{opacity:0}}
.download-resume{
	cursor: pointer;
	margin-left:20px;
	color: #1296db
}
.download-resume img{
	width: 1.2em;
	margin: 0 5px;
	vertical-align: text-bottom
}